<!doctype html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="app">
      <form id="app-form">
        <input type="text" v-model="userName" placeholder="Digite seu Nome" />
        <input type="text" v-model="email" placeholder="email" />
        <input type="text" v-model="email" placeholder="senha" />
        <input type="submit" value="Enviar" v-on:click="submitForm" />
      </form>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
